.authForm_container {
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}
.auth_input {
    max-width: 320px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
    font-size: 12px;
    color: black;
}

.auth_submit {
    max-width: 320px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    background: #04aaff;
    color: white;
    margin-top: 10;
    cursor: pointer;
}
.auth_noneError {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}
.auth_error {
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}

.auth_switch {
    color: #04aaff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}